@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind screens;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco",
    "Segoe UI", "Helvetica Neue", "sans-serif", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  @apply text-xl text-gray-dark;
}

code {
  @apply bg-gray-light-mid rounded-md text-dark-blue p-1 font-mono;
}

a {
  color: inherit;
  text-decoration: underline;
  @apply hover:no-underline;
}

h1 {
  @apply text-4xl xl:text-5xl font-bold;
}

h2 {
  @apply text-3xl xl:text-4xl font-bold mb-4;
}

h3 {
  @apply text-2xl xl:text-3xl mb-2 mt-2;
}

header {
  @apply mb-8;
}

section {
  @apply mt-8;
}

p,
ul,
ol {
  @apply mb-2 leading-8;
  max-width: 864px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul > li,
ol > li {
  @apply ms-4 leading-8;
}

hr {
  @apply mt-8 mb-8;
}

.grid-1 {
  grid-column: 1;
  grid-row: 1;
}

.kontrasto-text {
  color: var(--kontrasto-text);
}

.kontrasto-bg {
  background: var(--kontrasto-bg);
}

.kontrasto-text-bg {
  color: var(--kontrasto-text);
  background: var(--kontrasto-bg);
}
