@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind screens;

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

p {
  @apply font-bold;
}

.grid-1 {
  grid-column: 1;
  grid-row: 1;
}

.kontrasto-text {
  color: var(--kontrasto-text);
}

.kontrasto-bg {
  background: var(--kontrasto-bg);
}

.kontrasto-text-bg {
  color: var(--kontrasto-text);
  background: var(--kontrasto-bg);
}
